#Editor{
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    white-space: nowrap;
    min-height: 100vh;
}

#editor-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
    max-width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--header-color);
}

#editor-title{
    font-size: 2rem;
    color: var(--txt-color);
    padding: 1rem;
    cursor: pointer;
}

#table-container{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    
}

#csv-table{
    width: 100%;
    border-collapse: collapse;
}

#csv-table th, #csv-table td{
    border: 1px solid #000000;
    padding: 0.5rem;
    text-align: left;
    background-color: var(--txt-color);
    min-height: 0.5rem;
}

#csv-table .csv-cell:hover{
    cursor: pointer;
    background-color: #000000;
    color: var(--txt-color);
}

#edit-cell{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.2rem;
    padding: 0.5rem;
    box-sizing: border-box;
    width: 100%;
}    

#cell-selected{
    width: 100%;
    font-size: 1rem;
    border: 1px solid #000000;
    background-color: var(--txt-color);
    box-sizing: border-box;
    overflow-y: hidden;
    resize: none;
    padding: 0.25rem;
}

.button-list{
    display: flex;
    gap: 0.5rem;
}

.action-button{
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: var(--header-color);
    color: var(--txt-color);
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.action-button:hover{
    background-color: #000000;
    color: var(--txt-color);
}

.main-editor-btns{
    display: flex;
    gap: 0.5rem;
}

.editor-btn{
    padding: 0.5rem;
    font-size: 0.75rem;
    background-color: var(--txt-color);
    color: var(--bg-color);
    border: 1px solid #000000;
    border-radius: 10px;
    cursor: pointer;
}
.editor-btn:hover{
    background-color: #000000;
    color: var(--txt-color);
    border: 1px solid var(--txt-color);
}

#csv-table th.delete-mode-header{
    background-color: #ffa3a3;
    cursor: pointer;
}

#csv-table th.delete-mode-header:hover{
    background-color: #ff0000;
}

#csv-table td.delete-mode-body{
    background-color: #ffbaba;
}

#csv-table td.delete-mode-body:hover{
    background-color: #ff0000;
}